@model CourseLessonsViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

<h2 class="text-center text-secondary mb-4">@Model.Name</h2>
<div class="row">
    <table class="table table">
        <tbody>
            @foreach (var lesson in Model.Lessons)
            {
                <tr>
                    <td class="a-holder">
                        <a asp-area="" asp-controller="Lesson" asp-action="Details" asp-route-id="@lesson.Id" asp-route-practiceId="@lesson.PracticeId">@lesson.Name</a>
                    </td>
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName) || User.IsInRole(GlobalConstants.StudentRoleName))
                    {
                        <td>
                            @if (lesson.Contests.Any())
                            {
                                <div class="dropdown">
                                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Compete
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @foreach (var contest in lesson.Contests)
                                        {
                                            <a class="dropdown-item" asp-action="Details" asp-controller="Lesson"
                                               asp-route-id="@lesson.Id" asp-route-contestId="@contest.Id">@contest.Name</a>
                                        }
                                    </div>
                                </div>
                            }
                        </td>
                    }
                    <td>
                        <i class="fas fa-file"></i>
                        @lesson.ProblemsCount
                    </td>
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <td>
                            <a class="btn btn-primary" asp-area="@GlobalConstants.AdministrationArea" asp-controller="Lesson"
                               asp-action="Edit" asp-route-id="@lesson.Id">Edit</a>
                            <a class="btn btn-danger" asp-area="@GlobalConstants.AdministrationArea" asp-controller="Lesson"
                               asp-action="Delete" asp-route-id="@lesson.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>