@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model IEnumerable<UserCompeteResultViewModel>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th class="col-sm-9">@Localizer["Exam name"]</th>
                <th class="col-sm-3">@SharedLocalizer["Results"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var examResult in Model)
            {
                <tr class="row">
                    <td class="col-sm-9">
                        <a class="text-decoration-none" asp-action="MyResults" asp-area="" asp-controller="Contest" asp-route-contestId="@examResult.ContestId">@examResult.ContestName</a>
                    </td>
                    <td class="col-sm-3">@examResult.ActualPoints / @examResult.MaxPoints</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5 class="text-info">@Localizer["You have not participated in exmas yet."]</h5>
}