@using Microsoft.AspNetCore.Identity
@using JudgeSystem.Data.Models;

@inject UserManager<ApplicationUser> UserManager
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IViewLocalizer Localizer
@model StudentProfileViewModel

@{
    ViewData["Title"] = Localizer["Student Profile"];
    string userId = UserManager.GetUserId(this.User);
}

    <h2 class="text-secondary text-center mb-4">@ViewData["Title"]</h2>
<div class="card">
    <div class="card-body">
        <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
                <div class="image-container">
                    <i class="fas fa-user-tag" id="student-profile"></i>
                </div>
                <div class="userData ml-5 mt-3">
                    <h3 class="d-block font-weight-normal text-secondary">@Model.FullName (@Model.SchoolClassName @SharedLocalizer["class"])</h3>
                </div>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">@Localizer["Basic Info"]</a>
                <a class="nav-item nav-link" id="nav-exams-tab" data-toggle="tab" href="#nav-exams" role="tab" aria-controls="nav-exams" aria-selected="false">@Localizer["Passed Exams"]</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active mt-4" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label class="font-weight-bold">@SharedLocalizer["Full Name"]</label>
                    </div>
                    <div class="col-md-8 col-6">@Model.FullName</div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label class="font-weight-bold">@Localizer["Studnet email"]</label>
                    </div>
                    <div class="col-md-8 col-6">@Model.Email</div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label class="font-weight-bold">@Localizer["Class"]</label>
                    </div>
                    <div class="col-md-8 col-6">@Model.SchoolClassName</div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label class="font-weight-bold">@SharedLocalizer["Number in class"]</label>
                    </div>
                    <div class="col-md-8 col-6">@Model.NumberInCalss</div>
                </div>
                <hr />
            </div>
            <div class="tab-pane fade mt-4" id="nav-exams" role="tabpanel" aria-labelledby="nav-exams-tab">
                <vc:user-exams user-id="@userId"></vc:user-exams>
            </div>
        </div>
    </div>
</div>
