@model IEnumerable<ContestBreifInfoViewModel>

@{
	ViewData["Title"] = "Active contests";
	string administrationArea = GlobalConstants.AdministrationArea;
}

<h2 class="text-center mb-4">All active contests</h2>

<table class="table table-hover">
	<thead>
		<tr class="row">
			<th class="col-md-7">Name</th>
			<th class="col-md-5">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var contest in Model)
		{
			<tr class="row">
                <td class="col-md-7">
                    <a class="text-decoration-none text-dark"
                       asp-controller="Contest" asp-action="Results" asp-route-id="@contest.Id">@contest.Name</a>
                </td>
				<td class="col-md-5">
					<a class="btn btn-info" asp-area="@administrationArea"
					   asp-controller="Contest" asp-action="Details" asp-route-id="@contest.Id">Details</a>
					<a class="btn btn-warning" asp-area="@administrationArea"
					   asp-controller="Contest" asp-action="Edit" asp-route-id="@contest.Id">Edit</a>
					<a class="btn btn-danger" asp-area="@administrationArea"
					   asp-controller="Contest" asp-action="Delete" asp-route-id="@contest.Id">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>
