@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model TestEditInputModel

@{
    ViewData["Title"] = Model.ProblemName;
}

<h2 class="text-center">@Localizer["Edit test for task"] - <span class="font-italic">@Model.ProblemName</span></h2>
<div class="row">
    <div class="col-md-12">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="InputData"></label>
                    <textarea asp-for="InputData" class="form-control" cols="25" rows="5"></textarea>
                    <span asp-validation-for="InputData" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OutputData"></label>
                    <textarea asp-for="OutputData" class="form-control" cols="25" rows="5"></textarea>
                    <span asp-validation-for="OutputData" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="OrderBy"></label>
                    <input asp-for="OrderBy" class="form-control" step="10" />
                    <span asp-validation-for="OrderBy" class="text-danger"></span>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" asp-for="IsTrialTest" class="custom-control-input" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked">@SharedLocalizer["Trial test"]</label>
                </div>

                <input type="hidden" asp-for="ProblemId" />

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@SharedLocalizer["Edit"]</button>
                    <a class="btn btn-info" asp-area="@GlobalConstants.AdministrationArea" asp-controller="Test" asp-action="ProblemTests"
                       asp-route-problemId="@Model.ProblemId">@Localizer["Back to all tests"]</a>
                </div>
            </form>
        </section>
    </div>
</div>

<script src="~/lib/codemirror/codemirror.js"></script>
<script src="~/lib/codemirror/mode/clike/clike.min.js"></script>
<script>
    let inputDataTextarea = document.getElementById('InputData');
    var inputDataTextEditor = CodeMirror.fromTextArea(inputDataTextarea,
        {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-c++src"
        });
    inputDataTextEditor.setSize("100%", "200px");

    let outputDataTextarea = document.getElementById('OutputData');
    var outputDataTextEditor = CodeMirror.fromTextArea(outputDataTextarea,
        {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-c++src"
        });
    outputDataTextEditor.setSize("100%", "200px");
</script>
