@inject IStringLocalizer<SharedResources> SharedLocalizer
@model TimeRemainingDto

<div class="counter">
    <h5 class="font-weight-normal mt-4 mb-2">
        @SharedLocalizer["Contest"]: <span class="font-italic">@Model.ContestName</span>
    </h5>
    <h5 class="font-weight-normal">
        @SharedLocalizer["Remaining time"]:
        <span class="font-italic">
            <span id="days">@Model.Days</span> @SharedLocalizer["d"],
            <span id="hours">@Model.Hours</span> @SharedLocalizer["h"],
            <span id="minutes">@Model.Minutes</span> @SharedLocalizer["m"] @SharedLocalizer["and"]
            <span id="seconds">@Model.Seconds</span> @SharedLocalizer["s"]
        </span>
    </h5>
</div>